#Description-conteneur {
	display: flex;
	height: 268px;
	width: 168px;
	background-repeat: no-repeat;
	background-image: url("../assets/card-img/backgroudCard.svg");
	background-size: cover;
	justify-content: center;
	align-items: center;
	color: white;

	p {
		font-family: "Starjedi", sans-serif;
		letter-spacing: 2px;
		transform: translate(0, -110px);
		text-align: center;
	}
}

.portrait {
	width: 168px;
	height: 120px;
	margin-top: 20px;
	background-color: black;
	position: absolute;
}
