#Description-conteneur {
	display: flex;
	height: 268px;
	width: 168px;
	background-repeat: no-repeat;
	background-image: url("../assets/card-img/backgroudCard.svg");
	background-size: cover;
	justify-content: center;
	align-items: center;
	color: white;

	p {
		text-align: center;
	}
}

.portrait
{
	width:168px;
	height:120px;
	background-color:red;
	position: absolute;
	
}